/* Write your CSS here */
.list-item {
  border: 2px solid #b5b7c4;
  border-radius: 10px;
  width: 100%;

  margin: 10px;
  padding: 5px;
}
.list-item-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-family: 'Roboto';
  font-size: 25px;
  color: #171f46;
}
.date {
  color: #b5b7c4;
  font-family: 'Roboto';
  font-size: 20px;
}
.star-btn {
  border: 0px solid;
  background-color: transparent;
}
